# Learning Pandas

Following tutorial at: https://www.youtube.com/watch?v=Iqjy9UqKKuo&list=PLQVvvaa0QuDc-3szzjeP6N6b0aDrrKyL-.

Web-page of the dude doing the tutorial: https://pythonprogramming.net/

### Importing stuff

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
import numpy as np
import seaborn as sns
%matplotlib inline
#%matplotlib notebook
#style.use('ggplot')

# Tutorial 2: DataFrames

How to make a DataFrame from a dictionary:

In [2]:
web_stats = {'Day':[1,2,3,4,5,6],
            'Visitors':[43,53,34,45,64,34],
            'Bounce_Rate':[65,72,62,64,54,66]}

df = pd.DataFrame(web_stats)

#print (df)
df.head() # prints the first five rows
df.tail(2) # prints the last two rows

   Bounce_Rate  Day  Visitors
4           54    5        64
5           66    6        34

Change the index of a DataFrame:

In [3]:
# change index (default 0,1,2...)
#df = df.set_index('Day')
df.set_index('Day',inplace=True)  # does the same as above, but more elegant and generally used

Indexing of DataFrames:

In [4]:
# reference a column
#print (df['Visitors'])
#print (df.Visitors)

# reference multiple columns using a list
df[['Visitors','Bounce_Rate']]

     Visitors  Bounce_Rate
Day
1          43           65
2          53           72
3          34           62
4          45           64
5          64           54
6          34           66

Convert DataFrames to lists or np.arrays:

In [5]:
# converting to a list
df_list = df['Visitors'].tolist()  # Note: This does not work with multiple columns
print (df_list)

# convert to Numpy array
df_array = np.array(df[['Visitors','Bounce_Rate']])
print (df_array)

[43, 53, 34, 45, 64, 34]
[[43 65]
 [53 72]
 [34 62]
 [45 64]
 [64 54]
 [34 66]]

# Tutorial 3: IO Basics

Data from 'Quandl.com'.
Import .csv as DataFrame:

In [6]:
df = pd.read_csv('ZILL-Z77006_MLPSF.csv')
df.set_index('Date',inplace=True)
#print (df.head())

# could also directly set index with:
df = pd.read_csv('ZILL-Z77006_MLPSF.csv',index_col = 0)


# export again, as .csv
df.to_csv('newcsv.csv')
df.to_csv('newcsv.csv',header=False)  # export without header

# name columns while importing
df = pd.read_csv('ZILL-Z77006_MLPSF.csv',names=['Date','Austin_HPI'],index_col = 0)

# name column of DataFrame (only one column left, since the first was transformed to an index)
df.columns = ['Austin_HPI']
df.head()

                 Austin_HPI
Date
Date                  Value
2015-12-31  245.97918637654
2015-10-31  250.06841203054
2015-02-28  242.64245460238
2015-01-31  239.49101796407

# Tutorial 4: Building data sets

Build datasets for real estate analysis. Data from https://www.quandl.com/.

**Quandl**

I made an account on Quandl: 
* accountname: rolf_umbach
* email: rolf.umbach@gmail.com
* password: lowest security password
* API key thingy they gave me: 'tpMiyzEbn1GBkbXyzKGK' (can supposedly be found in the account settings)

Moreover, I installed the quandl Python module: pip install quandl

**Plan**

Build a dataframe from multiple housing price indices. Check if they are correlated in the sense that if most go up, a particular index will also go up.

Quandl apparently has lots of python support. One can install a module from them and 'import Quandl'. This allows directly importing data from their database with 'Quandl.get'. One can further specify the data of interest with commands as below, which are described on the site under 'Python' (see e.g. https://www.quandl.com/data/FMAC/HPI_EUGOR-House-Price-Index-Eugene-OR).

In [7]:
import Quandl

api_key = 'tpMiyzEbn1GBkbXyzKGK'
df = Quandl.get('FMAC/HPI_EUGOR',authtoken = api_key)

Instead of importing the HSI for each state by hand and combining them, it would be more convenient to generate it automatically. For this we need a list of US state abbreviations and write the Quandl keys as above. 

Since Pandas has a build-in read html functionality, we can for instance use a list from Wikipedia, e.g. https://simple.wikipedia.org/wiki/List_of_U.S._states.

NB: Had to 'pip install html5lib'

In [18]:
state_abbreviations = pd.read_html('https://simple.wikipedia.org/wiki/List_of_U.S._states')
state_abbreviations = state_abbreviations[0]

Note: 'pd.read_html()' creates a list of dataframes (since there are many objects on the page which are somehow interpreted as dataframes). Print the whole thing and check which element is the one you are interested in. Then go ahead and use that.

In [20]:
state_abbreviations.head()

              0           1            2                  3
0  Abbreviation  State Name      Capital     Became a State
1            AL     Alabama   Montgomery  December 14, 1819
2            AK      Alaska       Juneau    January 3, 1959
3            AZ     Arizona      Phoenix  February 14, 1912
4            AR    Arkansas  Little Rock      June 15, 1836

Now use the list to generate the API keys (or whatever they are called) for Quandl.

In [28]:
# select column '0' and loop through rows. Note this is different from normal Python indexing!
#for abbr in state_abbreviations[0][1:]:
    # transform to string in case abbreviations are not already strings
    #print ('FMAC/HPI_' + str(abbr))

The next step is to query Quandl accoring to all the keys and combine the resulting dataframes into one. To do so, we first need to learn how to merge dataframes etc., which will be done in the next tutorial.

# Tutorial 5: Concatenating and appending dataframes

For learning purposes, create some simple dataframes:

In [29]:
df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

Note that the three dataframes differ in terms of columns and indices, which we need to keep in mind.

In [31]:
concat = pd.concat([df1,df2])
concat

      HPI  Int_rate  US_GDP_Thousands
2001   80         2                50
2002   85         3                55
2003   88         2                65
2004   85         2                55
2005   80         2                50
2006   85         3                55
2007   88         2                65
2008   85         2                55

Since df1 and df2 have the same columns and continueing indices, they are simply merged. More often, one wants to add columns with the same index to a dataframe (e.g. in the housing price example from above, the index would be a range of dates and each column would correspond to a state).

In [34]:
df4 = df1.append(df3)
df4

      HPI  Int_rate  Low_tier_HPI  US_GDP_Thousands
2001   80         2           NaN                50
2002   85         3           NaN                55
2003   88         2           NaN                65
2004   85         2           NaN                55
2001   80         2            50               NaN
2002   85         3            52               NaN
2003   88         2            50               NaN
2004   85         2            53               NaN

Like 'concat', 'append' can screw up if things don't have the right format to begin with.

Append one  row with 'pd.Series()':

In [40]:
s = pd.Series([80,2,50],index=['HPI','Int_rate','US_GDP_Thousands'])
df4 = df1.append(s, ignore_index = True)
df4

   HPI  Int_rate  US_GDP_Thousands
0   80         2                50
1   85         3                55
2   88         2                65
3   85         2                55
4   80         2                50

All of this is slightly awkward and usually not the fastest way to go about things. Instead, look at merging and joining, as discussed in the next tutorial.

# Tutorial 6: Joining and merging dataframes

Define some new sample dataframes (slightly different from the ones created before):

In [75]:
df1 = pd.DataFrame({'Year':[2001,2002,2003,2004],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]})

df2 = pd.DataFrame({'Year':[2001,2003,2004,2005],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]})

Start with merging. Merging apparently ignores indices to some extend. As in SQL, there are four ways of merging dataframes/tables: left, right, inner and outer.

**Left** merges based on the first (left in the command) dataframe. For instance, below we merge df1 and df2 based on the 'Year' column of df1:

In [77]:
df4 = pd.merge(df1,df2,on='Year',how='left')
df4

   Int_rate  US_GDP_Thousands  Year  Low_tier_HPI  Unemployment
0         2                50  2001            50             7
1         3                55  2002           NaN           NaN
2         2                65  2003            52             8
3         2                55  2004            50             9

This generated a dataframe combining the columns of df1 and df2 on the 'Year's of df1. Consequently, the 2002 row has no entries for 'Low_tier_HPI' and 'Unemployment' (since df2 has no '2002').

Using 'how = '**right**'' instead would merge on the years of df2 instead.

The method **outer** merges on the union of the keys (in the language of sets), that is all keys are present and rows which miss in either of the dataframes are NaN.

In [79]:
df5 = pd.merge(df1,df2,on='Year',how='outer')
df5

   Int_rate  US_GDP_Thousands  Year  Low_tier_HPI  Unemployment
0         2                50  2001            50             7
1         3                55  2002           NaN           NaN
2         2                65  2003            52             8
3         2                55  2004            50             9
4       NaN               NaN  2005            53             6

Finally, **inner** merges on the intersection of the keys, i.e. only for keys which are present in both dataframes. This is the default method of merge.

In [82]:
df6 = pd.merge(df1,df2,on='Year',how='inner')
df6

   Int_rate  US_GDP_Thousands  Year  Low_tier_HPI  Unemployment
0         2                50  2001            50             7
1         2                65  2003            52             8
2         2                55  2004            50             9

**Join** - which he does not describe very well here - supposedly honors indices of dataframes more than the other methods do. We will hopefully see how it works later on.

In summary, the four methods for combining dataframes are: **concat, append, merge** and **join**.

Documentation for all these methods in Pandas: http://pandas.pydata.org/pandas-docs/version/0.10.0/merging.html

# Tutorial 7: Pickling

Now, continue with the Housing prices and the list of abbreviations for US states from above. Loop through state abbreviations and combine dataframes for individual states to an overall dataframe. Since all dataframes share a common index (date), it makes most sense to use '.join':

In [91]:
# as a reminder, import things from Quandl again as before
import Quandl
api_key = 'tpMiyzEbn1GBkbXyzKGK'
state_abbreviations = pd.read_html('https://simple.wikipedia.org/wiki/List_of_U.S._states')
state_abbreviations = state_abbreviations[0]

In [132]:
# first create an empty dataframe to hold everything
df_main = pd.DataFrame()

# loop through abbreviations and join individual dataframes with 'main_df'
for abbv in state_abbreviations[0][1:]:
    query = 'FMAC/HPI_' + str(abbv)
    df_temp = Quandl.get(query, authtoken=api_key)
    # rename column to state name (otherwise all columns are named 'Value', which causes issues)
    df_temp.rename(columns={'Value':str(abbv)}, inplace=True)
    print (query)
    if df_main.empty:
        print ("empty")
        df_main = df_temp
    else:
        df_main = df_main.join(df_temp)

FMAC/HPI_AL
empty
FMAC/HPI_AK
FMAC/HPI_AZ
FMAC/HPI_AR
FMAC/HPI_CA
FMAC/HPI_CO
FMAC/HPI_CT
FMAC/HPI_DE
FMAC/HPI_FL
FMAC/HPI_GA
FMAC/HPI_HI
FMAC/HPI_ID
FMAC/HPI_IL
FMAC/HPI_IN
FMAC/HPI_IA
FMAC/HPI_KS
FMAC/HPI_KY
FMAC/HPI_LA
FMAC/HPI_ME
FMAC/HPI_MD
FMAC/HPI_MA
FMAC/HPI_MI
FMAC/HPI_MN
FMAC/HPI_MS
FMAC/HPI_MO
FMAC/HPI_MT
FMAC/HPI_NE
FMAC/HPI_NV
FMAC/HPI_NH
FMAC/HPI_NJ
FMAC/HPI_NM
FMAC/HPI_NY
FMAC/HPI_NC
FMAC/HPI_ND
FMAC/HPI_OH
FMAC/HPI_OK
FMAC/HPI_OR
FMAC/HPI_PA
FMAC/HPI_RI
FMAC/HPI_SC
FMAC/HPI_SD
FMAC/HPI_TN
FMAC/HPI_TX
FMAC/HPI_UT
FMAC/HPI_VT
FMAC/HPI_VA
FMAC/HPI_WA
FMAC/HPI_WV
FMAC/HPI_WI
FMAC/HPI_WY

Since creating 'df_main' as above takes quite some time, one would like to avoid having to do it repeatedly. One way of avoiding it would be to export 'df_main' as .csv and import it again next time. However, this is not the most elegant solution (and might not be possible sometimes).

Instead, we will use pickling. The idea behind it is to save any form of python object. There is a build-in pickle module in python, as well as the option to directly use pandas to pickle.

In [134]:
import pickle

In [141]:
# creates a .pickle file in the folder of the notebook
# note: 'wb' specifies to 'write binary'. Looking at the housing_states.pickle file, one can see that it is 
# written in some sort of meaningless jibberish (binary).
with open('housing_states.pickle','wb') as pickle_out:
    pickle.dump(df_main, pickle_out)

To load the pickled data in again, do the following:

In [142]:
with open('housing_states.pickle','rb') as pickle_in:
    HPI_data = pickle.load(pickle_in)

Instead, one can also use the build-in pandas version of pickle. Supposedly, this is a little bit faster for really big data sets. However, the dude says he has never noticed any difference. Still, the pandas version is much less verbose.

In [148]:
# writing to pickle
HPI_data.to_pickle('HPI_data2.pickle')

In [149]:
# reading from pickle
HPI_data2 = pd.read_pickle('HPI_data2.pickle')

# Tutorial 8: Percent change and correlation tables